.btn {
  cursor: pointer;
  height: 40px;
  width: 100%;
  min-width: fit-content;
  border: 1px solid;
  transition: all 300ms;
  border-radius: 7px;
  font-weight: bold;
}
.btn--callToAction {
  color: #ffffff;
  background-color: #5045E6;
  border-color: #5045E6;
}
.btn--callToAction:hover {
  color: #ffffff;
  background-color: #4437CB;
  border-color: #A49FF1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
}

.link {
  text-decoration: none;
  color: #000000;
}
.link__secondary {
  color: #868686;
}
.link__secondary:hover {
  color: #5a5a5a;
}

.text--secondary {
  color: #868686;
}
.text--approved {
  color: #22b52a;
}
.text--danger {
  color: #990a0a;
}

.title {
  font-size: 2.3rem;
}
.title--sub {
  font-size: 1.8rem;
}
.title--sub--sub {
  font-size: 1.4rem;
}

.font-bold {
  font-weight: bold;
}
.font-medium {
  font-weight: 600;
}

.pad {
  padding: 0 150px;
}

.box {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
}
.box--shadow {
  box-shadow: 2px 2px 2px #f1f1f1, -1px -1px 5px #f1f1f1;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-grow: initial;
  flex-shrink: initial;
}
.pagination li {
  list-style-type: none;
}
.pagination li a {
  text-decoration: none;
  color: #000000;
}
.pagination li a:not([aria-label=First]):not([aria-label=Previous]):not([aria-label=Next]):not([aria-label=Last]) {
  padding: 10px 15px;
  transition: all 300ms;
  border-radius: 7px;
}
.pagination li a:not([aria-label=First]):not([aria-label=Previous]):not([aria-label=Next]):not([aria-label=Last]):hover {
  background-color: #F3F3F5;
}
.pagination li.active a {
  background-color: #F3F3F5;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background-color: #f5f9ff;
  border-radius: 10px;
}
.table th {
  text-align: start;
}
.table__emptyRow {
  height: 20px;
}
.table tr {
  margin-bottom: 10px;
}
.table tr td,
.table tr th {
  padding: 15px 0;
}
.table tr td:first-child,
.table tr th:first-child {
  padding-left: 20px;
}
.table tr td:last-child,
.table tr th:last-child {
  padding-right: 20px;
}
.table tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.table tr th:last-child {
  border-radius: 0 10px 10px 0;
}
.table__row__rejected {
  background-color: #feecec;
}
.table__row__validated {
  background-color: #ecfeed;
}

.request_list__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-grow: initial;
  flex-shrink: initial;
}
.request_list__buttons a {
  text-decoration: underline;
}
.request_list__buttons__reject:hover {
  color: #990a0a;
}
.request_list__buttons__approve:hover {
  color: #5045E6;
}

.Manager__requestList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-grow: initial;
  flex-shrink: initial;
}
.Manager__requestList__title {
  display: block;
  margin-bottom: 15px;
}
.Manager__stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-grow: initial;
  flex-shrink: initial;
}
.Manager__stats__desc {
  width: 35%;
}
.Manager__stats__content {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-grow: initial;
  flex-shrink: initial;
}
.Manager__stats__content .stats-box {
  height: 100px;
}

/*# sourceMappingURL=manager.css.map */
